.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  padding: 0 auto;
  margin: 0 auto;
  background-color: $white;
}

@media (min-width: $tablet-width) {
  .container {
    min-width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    min-width: 1440px;
  }
}
