.socials {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 24px;
  min-width: 130px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 75px 19px 75px;
  list-style-type: none;
  border-bottom: $border;
}

@media (min-width: $tablet-width) {
  .socials {
    width: 132px;
    padding: 0;
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .socials {
    margin: 0;
    margin-right: 383px;
    border: none;
  }
}

.socials__link--vkontakte,
.socials__link--telegram,
.socials__link--youtube {
  color: $special-gray3;
}

.socials__link--vkontakte:hover,
.socials__link--telegram:hover,
.socials__link--youtube:hover {
  color: $basic-green;
}

.socials__link--vkontakte:active,
.socials__link--telegram:active,
.socials__link--youtube:active {
  opacity: 0.3;
}
