$border: 1px solid #d9d9d9;
$white:  #ffffff;
$special-white: #f2f2f2;
$special-white2: #e5e5e5;
$basic-green:#68b738;
$green: #64af35;
$black: #000000;
$special-black: #111111;
$special-black2: #222222;
$gray: #eaeaea;
$light-gray: #e7e7e7;
$special-gray: #cdcdcd;
$special-gray2: #ebebeb;
$dark--gray: #c4c4c4;
$special-dark-gray: #444444;
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
$tablet-width-only: 1399px;
$status-error: #ff8282;
$special-gray3: #666666;
$basic-green2:#5eaa2f;
